<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Expense Tracker Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary">
        Login
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
