<ion-content class="login-page" [fullscreen]="true">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-content>
        <div class="brand-section">
          <div class="brand-icon">$</div>
          <h1>Expense Dashboard</h1>
          <p>Track and manage your expenses </p>
        </div>

        <div class="form-section">
          <ion-item lines="none" class="custom-item">
            <ion-input placeholder="Username"
                       [(ngModel)]="username">
            </ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-item">
            <ion-input type="password"
                       placeholder="Password"
                       [(ngModel)]="password">
            </ion-input>
          </ion-item>

          <ion-button expand="block"
                      class="login-btn"
                      (click)="login()">
            Login
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
